/************ Tags ************/
body {
  background:#F1C387;
  padding:0;
  margin:0;
  font-family: Helvetica, Verdana, Geneva, sans-serif
}

header {
  padding-left:20px;
  height:50px;
  display:block;
  background:#0E0300;
  -webkit-box-shadow:0px 2px 5px gray;
  -moz-box-shadow:0px 2px 5px gray;
  box-shadow:0px 2px 5px gray;
  text-align:right;
}


h1 {
  display:inline;
  color:white;
  padding:15px 10px 0px 0px;
  font-size:210%;
  text-shadow: 1px -1px 0px #999;
  text-transform:capitalize;
}

input[type="button"] {
  padding:10px;
  color:black;
  font-weight:bold;
  text-shadow: 1px 1px 0px white;
  background:#EFE4DC;
  border:1px solid black;
  -moz-border-radius:5px;
  border-radius:5px;
  float:left;
  margin:5px 10px 0 0;
}

input[type="button"]:hover {
  background:#E03A00;
  color:white;
  text-shadow: 1px 1px 0px black;
  cursor:pointer;
}
/************ Classes ************/

/* Postick's button "delete" */
.delete {
  cursor:pointer;
  font-size:120%;
}


.postick {
  border:1px solid gray;
  width:200px;
  height:200px;
  padding:4px;
  font-size:85%;
  background:#FFFC7F;
  -moz-box-shadow:2px 2px 2px #999999;
  -webkit-box-shadow:2px 2px 2px #999999;
  box-shadow:2px 2px 2px #999999;
  position:absolute;
}

.toolbar {
  text-align:right;
  font-weight:bold;
}

/* Content to be editable inside the postick */

.editable {
  cursor:pointer;
  height:180px;
  marging:0 auto;
  width:100%;
  overflow:hidden;
  position:relative;
  -moz-text-shadow: 1px 1px 0px white;
  text-shadow: 1px 1px 0px white;
}

.editable:hover {
  border:1px dotted gray;
}